<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FirmwareUpdate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5751D7191D8F7DA00096D96C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5751D7321D8F7DA00096D96C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5751D73D1D8F7DA00096D96C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
